{% extends "base.html" %}
{% block title %}Flashcard Sets Page{% endblock %}
{% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% if content["type"] == "admin" %}
  <form method="GET" action="{{ url_for('flashcardsAdmin') }}">
  {% else %}
  <form method="GET" action="{{ url_for('flashcards') }}">
  {% endif %}
    <div class="input-group mb-3">
      <input type="text" name="search" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
      </div>
    </div>
  </form>
  {% if content["type"] != "admin" %}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Stwórz nowy zestaw
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Stwórz zestaw</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="{{ request.base_url + '?action=add' }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="set_name" class="col-form-label">Nazwa:</label>
              <input type="text" name="set_name" class="form-control" id="set_name">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button type="submit" class="btn btn-primary">Utwórz</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <table border = 1>
    <tr>
      <th>SET_ID</th>
      <th>USER_ID</th>
      <th>SET_NAME</th>
      {% if content["type"] == "admin" %}
      <th>BUTTON</th>
      {% endif %}
    </tr>
    {% for item in content["flashcard_sets"] %}
    <tr>
      <td>{{item["set_id"]}}</td>
      <td>{{item["user_id"]}}</td>
      <td><a href="{{ url_for('flashcard', id=item['set_id']) }}">{{item["set_name"]}}</a></td>
      {% if content["type"] == "admin" %}
        {% if item["state"] == "active" %}
        <td><a href="{{ url_for('lockFlashcard', id=item['set_id']) }}">ban</a></td>
        {% else %}
        <td><a href="{{ url_for('unlockFlashcard', id=item['set_id']) }}">unban</a></td>
        {% endif %}
      {% endif %}
      {% if content.get("edit") %}
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" onclick="changeId({{item['set_id']}})">
            Usuń
          </button>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% if content.get("edit") %}
  <!-- Modal -->
  <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Uwaga</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="{{ request.base_url + '?action=delete' }}">
          <div class="modal-body">
            Usunięcie zestawu jest nieodwracalne. Czy jesteś tego pewien?
            <div class="form-group">
              <input type="hidden" name="custId" class="form-control" id="custId" value="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-secondary">Usuń</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <br>
  {% if content["type"] == "admin" %}
  <a href="{{ url_for('dashboard') }}">Dashboard</a>
  {% else %}
  <a href="{{ url_for('user', user=session['user'].get('name')) }}">Wróc do mojej strony</a>
  {% endif %}
  <script>
    function changeId(value) {
      $('#custId').val(value);
      $('#deleteModalCenter').modal('toggle');
    }
  </script>
{% endblock %}