{% extends "otherbase.html" %}
{% block title %}Fiszkowanie{% endblock %}
{% block content %}
<br>
<h1 class="mt-4">{{content["flashcard_sets"]["set_name"]}}</h1>
<br>
<a style="color: #222222; border-color: #ffffff; background-color: #a0a0a0; font-size: 0.8rem;" 
    class="btn btn-primary js-scroll-trigger" href="{{ url_for('flashcard', id=content['flashcard_sets']['set_id']) }}">Wróć
  </a>
<br>
<br>



<div class="container">
  <div class="row">
    <div class="col-9">
<table class="table">
    <tr>
      <th>#</th>
      <th>Fiszka</th>
      <th>Odpowiedź</th>
      <th>Podpowiedź</th>
      <th></th>
    </tr>
    {% for item in content["flashcard"] %}
    <tr id="{{item['id']}}">
      <td>{{item["id"]}}</td>
      <td class="flashcard_name">{{item["flashcard_name"]}}</td>
      <td>
        <form>
          <input id="choose" name="i_like" required pattern='{{item["answer"]}}' placeholder="Odpowiedź" autofocus title='Błędna odpowiedź'>
          <button class="btn btn-secondary">Następna</button>
        </form>
      </td>
      <td class="answer">
        {% if content.get("edit") %}{{item["answer"]}}
        {% else %}
        <div class="hidden" style="display: none;">{{item["answer"]}}</div>
        {% endif %}
      </td>
      {% if content.get("edit") %}
      <td>
      </td>
      {% else %}
      <td>
        <button type="button" class="btn btn-secondary" onclick="showById( {{item['id']}} )">Podpowiedź</button>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  </div>
  </div>
  </div>
  <script>
    function changeId(value) {
      efn = $('#' + value + ' > .flashcard_name').text()
      ea = $('#' + value + ' > .answer').text()
      $('#custId').val(value);
      $('#edit_flashcard_name').val(efn);
      $('#edit_answer').val(ea);
      $('#flashcardModal').modal('toggle');
    }

    function showById(value) {
      $('#' + value + ' > .answer > .hidden').toggle();
      elem = $('#' + value + ' > td > button');
      if (elem.text() == "Pokaż") {
        elem.html('Ukryj');
      } else {
        elem.html('Pokaż');
      }
    }
  </script>
{% endblock %}
