{% extends "otherbase.html" %}
{% block title %}Fiszkowanie{% endblock %}
{% block content %}
  <br>
  <h1 class="mt-4">{{content["flashcard_sets"]["set_name"]}}</h1>
  <br>
  <a style="color: #222222; border-color: #ffffff; background-color: #a0a0a0; font-size: 0.8rem;" 
    class="btn btn-primary js-scroll-trigger" href="{{ url_for('flashcard', id=content['flashcard_sets']['set_id']) }}">Wróć
  </a>
  <br>
  <br>


  <div class="container">
    <div class="row">
      <div class="col-6">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Fiszka</th>
      <th>Odpowiedź</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in content["flashcard"] %}
    <tr id="{{item['id']}}">
      <td>{{item["id"]}}</td>
      <td class="flashcard_name">{{item["flashcard_name"]}}</td>
        <td class="answer">{% if content.get("edit") %}{{item["answer"]}}
          {% else %}
          <div class="hidden" style="display: none;">{{item["answer"]}}</div>
          {% endif %}
        </td>
      {% if content.get("edit") %}
      <td>
        <!-- Button trigger modal -->
        
      </td>
    {% else %}
      <td>
        <button type="button" class="btn btn-secondary" onclick="showById({{item['id']}})">Pokaż</button>
      </td>
    {% endif %}
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
</div>
</div>

  <script>
    function changeId(value) {
      efn = $('#' + value + ' > .flashcard_name').text()
      ea = $('#' + value + ' > .answer').text()
      $('#custId').val(value);
      $('#edit_flashcard_name').val(efn);
      $('#edit_answer').val(ea);
      $('#flashcardModal').modal('toggle');
    }

    function showById(value) {
      $('#' + value + ' > .answer > .hidden').toggle();
      elem = $('#' + value + ' > td > button');
      if (elem.text() == "Pokaż") {
        elem.html('Ukryj');
      } else {
        elem.html('Pokaż');
      }
    }
  </script>
{% endblock %}
