{% extends "otherbase.html" %}
{% block title %}Fiszkowanie{% endblock %}
{% block content %}
<br>
<h1 class="mt-4">{{content["flashcard_sets"]["set_name"]}}</h1>
<br>
<a style="color: #222222; border-color: #ffffff; background-color: #a0a0a0; font-size: 0.8rem;" 
    class="btn btn-primary js-scroll-trigger" href="{{ url_for('flashcard', id=content['flashcard_sets']['set_id']) }}">Wróć
  </a>
<br>
<br>


<form>
<div class="container">
  <div class="row">
    <div class="col-9">
<table class="table">
    <tr>
      <th>#</th>
      <th>Fiszka</th>
      <th>
        <button class="btn btn-secondary">
          Odpowiedzi - Sprawdź
        </button>
      </th>
      <th>Podpowiedź</th>
      <th></th>
    </tr>

    {% for item in content["flashcard"] %}
      <tr id="{{item['id']}}">
        <td>{{item["id"]}}</td>
        <td class="flashcard_name">{{item["flashcard_name"]}}</td>
        {% if content.get("edit") %}
          <td>
            <!-- Button trigger modal -->
        
          </td>
        {% else %}
          <td>
            <label for="answer">Wybierz odpowiedź   </label>
            <select required id="answer">
              {% for item2 in content["flashcard"] %}

                {% if item2["answer"] == item["answer"] %}
                  <option value="1">{{item2["answer"]}}</option>
                {% else %}
                  <option value="">{{item2["answer"]}}</option>
                {% endif %}

              {% endfor %}
            </select>
          </td>
          <td class="answer">
            {% if content.get("edit") %}
              {{item["answer"]}}
            {% else %}
              <div class="hidden" style="display: none;">{{item["answer"]}}</div>
            {% endif %}
          </td>
          <td>
            <button type="button" class="btn btn-secondary" onclick="showById({{item['id']}})">Pokaż</button>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  <button class="btn btn-secondary">
    Sprawdź
  </button>
</div>
</div>
</div>

  
  </form>
  <script>
    function changeId(value) {
      efn = $('#' + value + ' > .flashcard_name').text()
      ea = $('#' + value + ' > .answer').text()
      $('#custId').val(value);
      $('#edit_flashcard_name').val(efn);
      $('#edit_answer').val(ea);
      $('#flashcardModal').modal('toggle');
    }

    function showById(value) {
      $('#' + value + ' > .answer > .hidden').toggle();
      elem = $('#' + value + ' > td > button');
      if (elem.text() == "Pokaż") {
        elem.html('Ukryj');
      } else {
        elem.html('Pokaż');
      }
    }
  </script>
{% endblock %}
