{% extends "base.html" %}
{% block title %}Reset Password Page{% endblock %}
{% block content %}
  <form method="POST" action="">
    <div class="input-group">
      <label for="password"><b>Password</b></label>
      <input type="password" name="password"/>
    </div>
    <div class="input-group">
      <label for="repassword"><b>Password</b></label>
      <input type="password" name="repassword"/>
    </div>
    <div class="input-group" {% if content.get('token') %} style="display: none;" {% endif %}>
      <label for="token"><b>Token</b></label>
      <input type="text" name="token" value="{% if content.get('token') %}{{content.get('token')}}{% endif %}" required>
    </div>
    <div class="input-group">
      <input type="submit">
    </div>
  </form>
{% endblock %}