{% extends "base.html" %}
{% block title %}Dashboard Page{% endblock %}
{% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <table border = 1>
    <tr>
      <th>ID</th>
      <th>EMAIL</th>
      <th>NAME</th>
      <th>PRIVILEGES</th>
      <th>STATE</th>
      <th>BUTTON</th>
    </tr>
    {% for item in content %}
    <tr>
      <td>{{item["id"]}}</td>
      <td>{{item["email"]}}</td>
      <td>{{item["name"]}}</td>
      <td>{{item["privileges"]}}</td>
      <td>{{item["state"]}}</td>
      {% if item["state"] == "active" %}
      <td><a href="{{ url_for('lock', id=item['id']) }}">ban</a></td>
      {% else %}
      <td><a href="{{ url_for('unlock', id=item['id']) }}">unban</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <br>
  <a href="{{ url_for('dashboard') }}">Dashboard</a>
{% endblock %}
