{% extends "otherbase.html" %}
{% block title %}User Page{% endblock %}
{% block content %}
  <br>
  <br>
  <h1 class="mt-4">Witaj {{content.get('name')}}!</h1>
  
  <br>
  <a>Twój id: {{content.get('id')}}</a><br>
  <a>Twój e-mail: {{content.get('email')}}</a><br>

  {% if content.get("privileges") == 'admin' %}
    <a>Czy jesteś adminem: {{content.get('privileges')}}</a>
    <a href="/dashboard">Dashboard</a><br>
  {% endif %}

  <a>Twój status: {{content.get('state')}}</a>

  

{% endblock %}
