{% extends "base.html" %}
{% block title %}User Page{% endblock %}
{% block content %}
  <table border = 1>
    <tr>
      <th>ID</th>
      <th>EMAIL</th>
      <th>NAME</th>
      <th>PRIVILEGES</th>
      <th>STATUS</th>
    </tr>
    <tr>
      <td>{{content.get('id')}}</td>
      <td>{{content.get('email')}}</td>
      <td>{{content.get('name')}}</td>
      <td>{{content.get('privileges')}}</td>
      <td>{{content.get('status')}}</td>
    </tr>
  </table>
  <a href="/logout">Logout</a>
{% endblock %}
